<%- include ("../partials/header")%>

<div class="cwrapper">
    <div class="cinput-fields">
        <div class="cinput-fields2">
            <form action = "<%="/assignment/assign-create/" + cid + "/"%>" method = "post" enctype="multipart/form-data">
                <input class = "cinput" type="text" placeholder= "Assignment name*"  name = "a_name" required>
                <!-- <input class = "cinput_msg" type="text" placeholder="Enter Assignment Details here" name = "a_details"> -->
                <textarea name="a_details" class="cinput_msg" cols="30" rows="2" placeholder="Enter Assignment Details here"></textarea>
                    <input type="file" name="file" id="file" required>
                    <label for="file" class = "label"><i id = "icon_attach" class="fas fa-paperclip"> </i>  Add*</label>;
                <button class = "sb_btn">Submit</button>
            </form>
        </div>
    </div>
</div>

