<%- include ("partials/header")%>

<form action="/assignment" method= "get">
    <button>
        Assignment
    </button>
</form>
<form action="/homework" method= "get">
    <button>
        student
    </button>
</form>


<img width = "70px" src = "DSwithname.jpg" />