<%- include ("partials/header")%>

<h1>Discussion :)</h1>

<form action= "<%= "/discussion/" + cid + "/" + id + "/"%>" method = "post">
   <input type="text" name = "msg" placeholder="Share something with your class">
</form>
