<%- include ("partials/header")%>

<ul class="swcommon">
  <li class="lr">
    <a href="/users/register" class = button" 
        >Register</a>
  </li>
    <li class="lr">
        <a href="/users/login" class = button" >Login</a>
    </li>


</ul>
<div id = "check_img" >
  <img src="DSwithname.jpg" alt="">
</div>