<%- include ("partials/header")%>

<div class="swcommon">
  <div class="lr">
    <a href="/users/register" class = button" 
        >Register</a>
  </div>
      <div class="lr">
        <a href="/users/login" class = button" >Login</a>
      </div>
  <div id = "check" class="row mt-5">
  <div id = "check"class="col-md-6 m-auto">
    <div id = "check"class="card card-body text-center">
      <h1 class = "img"><img width = "150px" src="DSwithname.jpg" alt=""></h1>
    </div>
  </div>
</div>

</div>