body {
  overflow-x: hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #f5f6fa;
}
#page {
  width: 100%;
  background-color: #f5f6fa;
}
